=placeholder($font-size, $color)

    &::-webkit-input-placeholder
        color: $color
        font-size: $font-size

    &:-ms-input-placeholder
        color: $color
        font-size: $font-size

    &::-moz-placeholder
        color: $color
        font-size: $font-size

    &:-moz-placeholder
        color: $color
        font-size: $font-size
