body 
  font-family: 'Halant', serif
  color: $color-primary

.maintitle
  margin-bottom: 28px
  color: $main-title-color
  font-weight: 400
  line-height: 33px
  font-size: 27px

  +media(s, 40px)
    text-align: center
    line-height: 38px

.section-title
  font-weight: 500
  line-height: normal
  font-size: 28px
  font-family: 'Montserrat', sans-serif

  +media(s, 40px)
    font-size: 26px
    text-align: center
    
.section-title-light
  color: $color-light




