html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input {
  border: 1px solid #000;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none; }

button {
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer; }

body {
  font-family: 'Halant', serif;
  color: #1E344F; }

.maintitle {
  margin-bottom: 28px;
  color: #576A7D;
  font-weight: 400;
  line-height: 33px;
  font-size: 27px; }
  @media (max-width: 640px) {
    .maintitle {
      text-align: center;
      line-height: 38px; } }

.section-title {
  font-weight: 500;
  line-height: normal;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 640px) {
    .section-title {
      font-size: 26px;
      text-align: center; } }

.section-title-light {
  color: #fff; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html {
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

p {
  line-height: 26px;
  font-size: 18px; }

.container {
  position: relative;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
  z-index: 10; }
  @media (max-width: 768px) {
    .container {
      padding: 0 15px; } }

.btn {
  font-family: 'Montserrat', sans-serif;
  -webkit-border-radius: 27.5px;
          border-radius: 27.5px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  cursor: pointer; }

.btn-light {
  border: 1px solid #00B1F8;
  color: #00AFF5; }

.btn-bright {
  background-image: -webkit-linear-gradient(342.07deg, #4EC3F2 -40.52%, #438AE3 59.48%);
  background-image: -o-linear-gradient(342.07deg, #4EC3F2 -40.52%, #438AE3 59.48%);
  background-image: linear-gradient(107.93deg, #4EC3F2 -40.52%, #438AE3 59.48%);
  -webkit-box-shadow: 0px 22px 34px rgba(103, 156, 222, 0.349836);
          box-shadow: 0px 22px 34px rgba(103, 156, 222, 0.349836);
  color: #fff; }

.separator {
  width: 46px;
  height: 2px;
  margin: 0;
  border: 0;
  background: #00B3FB; }
  @media (max-width: 640px) {
    .separator {
      margin-left: auto;
      margin-right: auto; } }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.hide {
  display: none; }

.center {
  text-align: center;
  margin: 0 auto; }

.bold {
  font-weight: 700; }

.header {
  position: relative;
  padding-bottom: 75px; }
  @media (max-width: 640px) {
    .header {
      padding-bottom: 10px; } }

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 379px;
  height: 333px;
  background: url(../img/hero-decor-oval.svg) center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.header::after {
  content: '';
  position: absolute;
  bottom: -65%;
  left: 58%;
  width: 598px;
  height: 598px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../img/hero-decor-circle.svg) center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  @media (max-width: 1200px) {
    .header::after {
      bottom: -60%;
      left: 58%;
      width: 500px;
      height: 500px; } }
  @media (max-width: 640px) {
    .header::after {
      bottom: -100%;
      left: 90%;
      width: 400px;
      height: 400px; } }

.header-img {
  position: absolute;
  top: 105px;
  right: -135px;
  width: 892px;
  height: 594px;
  -webkit-border-radius: 300px;
          border-radius: 300px; }
  @media (max-width: 1200px) {
    .header-img {
      width: 800px;
      height: 534px; } }
  @media (max-width: 990px) {
    .header-img {
      top: 75px;
      right: -94px;
      width: 500px;
      height: 334px; } }
  @media (max-width: 640px) {
    .header-img {
      display: none; } }

.header-inner {
  position: relative; }

.header-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 15%;
  width: 1241px;
  height: 585px;
  background: url(../img/hero-line.svg) center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  @media (max-width: 640px) {
    .header-inner::before {
      top: -145px;
      left: auto;
      right: -135px;
      width: 400px;
      height: 400px;
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg); } }

.header-inner::after {
  content: '';
  position: absolute;
  bottom: -50%;
  left: -10%;
  width: 600px;
  height: 600px;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
  background: url(../img/hero-line-2.svg) center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  opacity: 0.4; }
  @media (max-width: 640px) {
    .header-inner::after {
      bottom: -100%;
      width: 350px;
      height: 350px;
      left: -80px; } }

.topbar {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
  margin-bottom: 220px; }
  @media (max-width: 640px) {
    .topbar {
      margin-bottom: 80px; } }

.nav {
  margin-left: auto; }
  @media (max-width: 700px) {
    .nav {
      display: none; } }

@media (max-width: 700px) {
  .nav.is-expanded {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 63px;
    right: 30px;
    width: 215px;
    padding: 25px;
    background: #fff;
    text-align: right;
    z-index: 10;
    -webkit-box-shadow: 0px 12px 40px rgba(112, 152, 191, 0.136945);
            box-shadow: 0px 12px 40px rgba(112, 152, 191, 0.136945);
    -webkit-border-radius: 4px;
            border-radius: 4px; } }

.topbar-btn {
  width: 120px;
  height: 38px;
  margin-left: 45px;
  font-size: 12px; }
  @media (max-width: 990px) {
    .topbar-btn {
      margin-left: 20px; } }
  @media (max-width: 700px) {
    .topbar-btn {
      display: none; } }

@media (max-width: 700px) {
  .mob-menu-btn {
    display: block;
    margin-left: auto; } }

.nav-link {
  margin-right: 48px;
  font-weight: 500;
  line-height: 36px;
  font-size: 14px;
  letter-spacing: 0.933333px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 990px) {
    .nav-link {
      margin-right: 20px; } }
  @media (max-width: 700px) {
    .nav-link {
      margin-right: 0; } }

.nav-link:last-child {
  margin-right: 0; }

.nav-link:hover {
  color: #00B6FE; }

.company-name {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: normal;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 640px) {
    .company-name {
      font-size: 60px;
      text-align: center; } }

.hero-btn {
  display: block;
  width: 170px;
  height: 55px;
  margin-bottom: 165px;
  line-height: 53px; }
  @media (max-width: 640px) {
    .hero-btn {
      margin: 0 auto 60px; } }

.mouse-img {
  width: 26px;
  display: block; }
  @media (max-width: 640px) {
    .mouse-img {
      display: none; } }

.about {
  position: relative;
  padding: 160px 0;
  background: #1E344F;
  z-index: 10; }
  @media (max-width: 990px) {
    .about {
      padding: 80px 0; } }
  @media (max-width: 640px) {
    .about {
      padding: 50px 0; } }

.about-title {
  margin-bottom: 22px; }

@media (max-width: 768px) {
  .about-separator {
    margin-bottom: 40px; } }

.about-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .about-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.about-text {
  max-width: 470px;
  padding-top: 43px;
  line-height: 33px;
  font-size: 22px;
  color: #9DBBD8; }
  @media (max-width: 990px) {
    .about-text {
      min-width: 370px;
      margin-right: 15px; } }
  @media (max-width: 768px) {
    .about-text {
      min-width: 100%;
      margin: 0; } }
  @media (max-width: 640px) {
    .about-text {
      padding-top: 25px;
      text-align: center;
      font-size: 20px; } }

.about-img {
  max-width: 100%; }

.solution {
  position: relative;
  padding: 100px 0 60px; }
  @media (max-width: 990px) {
    .solution {
      padding: 80px 0; } }
  @media (max-width: 768px) {
    .solution {
      padding: 50px 0; } }

.solution::before {
  content: '';
  position: absolute;
  top: -22%;
  left: -15%;
  width: 800px;
  height: 800px;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
  background: url(../img/hero-line-2.svg) center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  opacity: 0.4; }
  @media (max-width: 990px) {
    .solution::before {
      top: -50px;
      left: -130px;
      width: 400px;
      height: 400px; } }
  @media (max-width: 640px) {
    .solution::before {
      top: -100px;
      left: -175px; } }

.solution::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 600px;
  height: 600px;
  background: url(../img/circle.svg) center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  @media (max-width: 640px) {
    .solution::after {
      bottom: -145px;
      left: -50px;
      width: 300px;
      height: 300px; } }

.solution-inner {
  position: relative; }

.solution-inner::before {
  content: '';
  position: absolute;
  top: -200px;
  right: -550px;
  width: 1240px;
  height: 1240px;
  background: url(../img/solution-circle.svg) center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  @media (max-width: 990px) {
    .solution-inner::before {
      top: -100px;
      right: -300px;
      width: 700px;
      height: 700px; } }
  @media (max-width: 640px) {
    .solution-inner::before {
      width: 600px; } }

.solution-title {
  margin-bottom: 14px; }

.solution-separator {
  margin-bottom: 73px; }
  @media (max-width: 990px) {
    .solution-separator {
      margin-bottom: 50px; } }

.highlited-text {
  max-width: 570px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #00B3FB;
  font-family: 'Montserrat', sans-serif; }

.solution-subtitle {
  margin-bottom: 40px;
  line-height: 33px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }
  @media (max-width: 990px) {
    .solution-subtitle {
      font-size: 18px; } }

.solution-img {
  display: block;
  max-width: 100%;
  margin: 0 auto 100px; }
  @media (max-width: 640px) {
    .solution-img {
      margin: 0 auto 50px; } }

.card-row {
  margin-bottom: 60px; }
  @media (max-width: 990px) {
    .card-row {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.card {
  width: 23%;
  margin-right: 2.5%;
  padding: 50px 10px 20px;
  -webkit-box-shadow: 0px 12px 40px rgba(112, 152, 191, 0.136945);
          box-shadow: 0px 12px 40px rgba(112, 152, 191, 0.136945);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  text-align: center;
  background: #fff; }
  @media (max-width: 990px) {
    .card {
      width: 48%;
      margin-bottom: 25px; } }
  @media (max-width: 600px) {
    .card {
      width: 100%;
      padding: 25px 10px 20px;
      margin-right: 0; } }

@media (max-width: 990px) {
  .card:nth-child(even) {
    margin-right: 0; } }

.card:last-child {
  margin-right: 0; }

.card-img {
  min-height: 50px;
  margin-bottom: 35px; }
  @media (max-width: 600px) {
    .card-img {
      margin-bottom: 15px; } }

.card-title {
  min-height: 56px;
  margin-bottom: 18px;
  font-weight: 500;
  line-height: 28px;
  font-size: 18px;
  text-align: center;
  color: #00B3FB;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 600px) {
    .card-title {
      min-height: auto; } }

.solution-arrow {
  display: block; }

.team {
  position: relative;
  padding: 100px 0 125px;
  background: #f6fbfe;
  z-index: 10; }
  @media (max-width: 990px) {
    .team {
      padding: 80px 0; } }
  @media (max-width: 640px) {
    .team {
      padding: 50px 0; } }

.team-title {
  margin-bottom: 15px; }

.team-separator {
  margin-bottom: 55px; }
  @media (max-width: 940px) {
    .team-separator {
      margin-bottom: 40px; } }

.team-row {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 990px) {
    .team-row {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.team-member {
  width: 28%;
  margin-right: 8.5%;
  text-align: center; }
  @media (max-width: 990px) {
    .team-member {
      width: 35%;
      margin-right: 10%;
      margin-bottom: 40px; } }
  @media (max-width: 768px) {
    .team-member {
      width: 45%;
      margin-right: 5%; } }
  @media (max-width: 640px) {
    .team-member {
      width: 100%;
      max-width: 350px;
      margin-right: 0; } }

.team-member:last-child {
  margin-right: 0; }

.team-member-photo {
  width: 100px;
  height: 100px;
  margin-bottom: 35px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media (max-width: 640px) {
    .team-member-photo {
      margin-bottom: 15px; } }

.team-member-name {
  margin-bottom: 6px;
  font-weight: 500;
  line-height: 28px;
  color: #00B3FB;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 640px) {
    .team-member-name {
      margin-bottom: 0; } }

.team-member-position {
  margin-bottom: 15px;
  line-height: 28px;
  font-size: 16px;
  color: #9DBBD8;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 640px) {
    .team-member-position {
      margin-bottom: 10px; } }

.team-member-description {
  margin-bottom: 10px; }

.read-more-link {
  font-size: 16px;
  color: #00B3FB;
  letter-spacing: 0;
  text-align: center;
  line-height: 28px; }

.popup {
  background: #fff;
  max-width: 100%;
  width: 600px;
  padding: 35px 25px 25px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1); }
  @media (max-width: 640px) {
    .popup {
      padding: 35px 15px 15px; } }

.popup-title {
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 640px) {
    .popup-title {
      font-size: 20px; } }

.achievements-list {
  padding-left: 20px;
  list-style-type: disc; }

.achievements-list-item {
  margin-bottom: 10px;
  line-height: 26px;
  font-family: 'Montserrat', sans-serif; }

.subscribe {
  position: relative;
  padding: 100px 0 95px; }
  @media (max-width: 990px) {
    .subscribe {
      padding: 80px 0; } }
  @media (max-width: 640px) {
    .subscribe {
      padding: 50px 0; } }

.subscribe::after {
  content: '';
  position: absolute;
  top: -395px;
  right: -160px;
  width: 598px;
  height: 598px;
  background: url(../img/subscribe-circle.svg) center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  @media (max-width: 640px) {
    .subscribe::after {
      top: -449px;
      right: -260px; } }

.subscribe-title {
  margin-bottom: 10px; }

.subscribe-separator {
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .subscribe-separator {
      margin-bottom: 20px; } }

.subscribe-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .subscribe-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.subscribe-text {
  max-width: 470px;
  line-height: 33px;
  font-size: 22px; }
  @media (max-width: 768px) {
    .subscribe-text {
      margin-bottom: 30px;
      font-size: 18px;
      text-align: center; } }

@media (max-width: 640px) {
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.subscribe-form-input {
  width: 370px;
  height: 50px;
  padding-left: 25px;
  font-size: 18px;
  color: #576A7D;
  background: #fff;
  border: 1px solid #E2F0FD;
  -webkit-box-shadow: 0px 12px 40px rgba(112, 152, 191, 0.136945);
          box-shadow: 0px 12px 40px rgba(112, 152, 191, 0.136945);
  -webkit-border-radius: 40px;
          border-radius: 40px;
  line-height: 33px; }
  .subscribe-form-input::-webkit-input-placeholder {
    color: #576A7D;
    font-size: 18px; }
  .subscribe-form-input:-ms-input-placeholder {
    color: #576A7D;
    font-size: 18px; }
  .subscribe-form-input::-moz-placeholder {
    color: #576A7D;
    font-size: 18px; }
  .subscribe-form-input:-moz-placeholder {
    color: #576A7D;
    font-size: 18px; }
  @media (max-width: 990px) {
    .subscribe-form-input {
      width: 300px; } }
  @media (max-width: 640px) {
    .subscribe-form-input {
      margin-bottom: 20px; } }

.subscribe-form-btn {
  width: 185px;
  height: 50px;
  margin-left: 15px; }
  @media (max-width: 990px) {
    .subscribe-form-btn {
      width: 160px; } }

.footer {
  padding: 60px 0 33px;
  background: #243142; }
  @media (max-width: 640px) {
    .footer {
      padding: 50px 0; } }

.footer-logo {
  margin-bottom: 25px; }

.footer-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 90px; }
  @media (max-width: 640px) {
    .footer-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 40px; } }

.column-left {
  max-width: 370px; }
  @media (max-width: 640px) {
    .column-left {
      text-align: center;
      margin-bottom: 30px; } }

.company-activity {
  margin-bottom: 20px; }
  @media (max-width: 640px) {
    .company-activity {
      margin-bottom: 13px; } }

.company-activity,
.contact-text {
  line-height: 33px;
  font-size: 21px;
  color: #9DBBD8; }
  @media (max-width: 640px) {
    .company-activity,
    .contact-text {
      font-size: 18px; } }

.contact-link {
  font-weight: 500;
  line-height: 28px;
  font-size: 18px;
  color: #00B3FB; }

.footer-link {
  display: block;
  font-weight: 500;
  line-height: 36px;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.933333px;
  text-transform: uppercase;
  color: #9DBBD8;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 640px) {
    .footer-link {
      text-align: center; } }

.copy {
  line-height: 28px;
  font-size: 14px;
  color: #54687e;
  font-family: 'Montserrat', sans-serif; }
