.header
  position: relative
  padding-bottom: 75px

  +media(s, 40px)
    padding-bottom: 10px
  
.header::before
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 379px
  height: 333px
  background: url(../img/hero-decor-oval.svg) center no-repeat
  background-size: contain

.header::after
  content: ''
  position: absolute
  bottom: -65%
  left: 58%
  width: 598px
  height: 598px
  transform: translate(-50%, -50%)
  background: url(../img/hero-decor-circle.svg) center no-repeat
  background-size: contain

  +media(l)
    bottom: -60%
    left: 58%
    width: 500px
    height: 500px

  +media(s, 40px)
    bottom: -100%
    left: 90%
    width: 400px
    height: 400px
  
.header-img
  position: absolute
  top: 105px
  right: -135px
  width: 892px
  height: 594px
  border-radius: 300px

  +media(l)
    width: 800px
    height: 534px

  +media(m, 90px)
    top: 75px
    right: -94px
    width: 500px
    height: 334px

  +media(s, 40px)
    display: none
  
.header-inner
  position: relative
.header-inner::before
  content: ''
  position: absolute
  top: 0
  left: 15%
  width: 1241px
  height: 585px
  background: url(../img/hero-line.svg) center no-repeat
  background-size: contain

  +media(s, 40px)
    top: -145px
    left: auto
    right: -135px
    width: 400px
    height: 400px
    transform: rotate(30deg)
  
.header-inner::after
  content: ''
  position: absolute
  bottom: -50%
  left: -10%
  width: 600px
  height: 600px
  transform: rotate(-15deg)
  background: url(../img/hero-line-2.svg) center no-repeat
  background-size: contain
  opacity: 0.4

  +media(s, 40px)
    bottom: -100%
    width: 350px
    height: 350px
    left: -80px

.topbar
  align-items: center
  padding-top: 17px
  margin-bottom: 220px

  +media(s, 40px)
    margin-bottom: 80px
  
.nav
  margin-left: auto

  +media(s, 100px)
    display: none

.nav.is-expanded
  +media(s, 100px)
    display: flex
    flex-direction: column
    position: absolute
    top: 63px
    right: 30px
    width: 215px
    padding: 25px
    background: #fff
    text-align: right
    z-index: 10
    box-shadow: 0px 12px 40px rgba(112, 152, 191, 0.136945)
    border-radius: 4px
  
.topbar-btn
  width: 120px
  height: 38px
  margin-left: 45px
  font-size: 12px

  +media(m, 90px)
    margin-left: 20px

  +media(s, 100px)
    display: none

.mob-menu-btn
  +media(s, 100px)
    display: block
    margin-left: auto
    
.nav-link
  margin-right: 48px
  font-weight: 500
  line-height: 36px
  font-size: 14px
  letter-spacing: 0.933333px
  text-transform: uppercase
  font-family: 'Montserrat', sans-serif

  +media(m, 90px)
    margin-right: 20px

  +media(s, 100px)
    margin-right: 0
  
.nav-link:last-child
  margin-right: 0

.nav-link:hover
  color: $nav-hover

.company-name
  margin-bottom: 10px
  font-weight: 500
  line-height: normal
  font-size: 80px
  font-family: 'Montserrat', sans-serif

  +media(s, 40px)
    font-size: 60px
    text-align: center
  
.hero-btn
  display: block
  width: 170px
  height: 55px
  margin-bottom: 165px
  line-height: 53px

  +media(s, 40px)
    margin: 0 auto 60px

.mouse-img
  width: 26px
  display: block

  +media(s, 40px)
    display: none