.about
  position: relative
  padding: 160px 0
  background: $color-primary
  z-index: 10

  +media(m, 90px)
    padding: 80px 0

  +media(s, 40px)
    padding: 50px 0
  
.about-title
  margin-bottom: 22px

.about-separator
  +media(s, 168px)
    margin-bottom: 40px

.about-row
  justify-content: space-between

  +media(s, 168px)
    flex-direction: column-reverse
    align-items: center
  
.about-text
  max-width: 470px
  padding-top: 43px
  line-height: 33px
  font-size: 22px
  color: $color-secondary

  +media(m, 90px)
    min-width: 370px
    margin-right: 15px

  +media(s, 168px)
    min-width: 100%
    margin: 0

  +media(s, 40px)
    padding-top: 25px
    text-align: center
    font-size: 20px
  
.about-img
  max-width: 100%