.solution
  position: relative
  padding: 100px 0 60px

  +media(m, 90px)
    padding: 80px 0

  +media(s, 168px)
    padding: 50px 0
  
.solution::before
  content: ''
  position: absolute
  top: -22%
  left: -15%
  width: 800px
  height: 800px
  transform: rotate(60deg)
  background: url(../img/hero-line-2.svg) center no-repeat
  background-size: contain
  opacity: 0.4

  +media(m, 90px)
    top: -50px
    left: -130px
    width: 400px
    height: 400px

  +media(s, 40px)
    top: -100px
    left: -175px
  
.solution::after
  content: ''
  position: absolute
  bottom: -50px
  left: -50px
  width: 600px
  height: 600px
  background: url(../img/circle.svg) center no-repeat
  background-size: contain

  +media(s, 40px)
    bottom: -145px
    left: -50px
    width: 300px
    height: 300px

.solution-inner
  position: relative

.solution-inner::before
  content: ''
  position: absolute
  top: -200px
  right: -550px
  width: 1240px
  height: 1240px
  background: url(../img/solution-circle.svg) center no-repeat
  background-size: contain

  +media(m, 90px)
    top: -100px
    right: -300px
    width: 700px
    height: 700px

  +media(s, 40px)
    width: 600px
    
.solution-title
  margin-bottom: 14px
  
.solution-separator
  margin-bottom: 73px

  +media(m, 90px)
    margin-bottom: 50px
  
.highlited-text
  max-width: 570px
  margin-bottom: 20px
  font-weight: 500
  font-size: 18px
  color: $highlited-text
  font-family: 'Montserrat', sans-serif

.solution-subtitle
  margin-bottom: 40px
  line-height: 33px
  font-size: 22px
  font-family: 'Montserrat', sans-serif
  font-weight: 500
  
  +media(m, 90px)
    font-size: 18px;

.solution-img
  display: block
  max-width: 100%
  margin: 0 auto 100px

  +media(s, 40px)
    margin: 0 auto 50px

.card-row
  margin-bottom: 60px

  +media(m, 90px)
    flex-wrap: wrap
    justify-content: center

.card
  width: 23%
  margin-right: 2.5%
  padding: 50px 10px 20px
  box-shadow: 0px 12px 40px $shadow
  border-radius: 4px
  text-align: center
  background: #fff

  +media(m, 90px)
    width: 48%
    margin-bottom: 25px

  +media(s)
    width: 100%
    padding: 25px 10px 20px
    margin-right: 0

.card:nth-child(even)
  +media(m, 90px)
    margin-right: 0
  
.card:last-child
  margin-right: 0

.card-img
  min-height: 50px
  margin-bottom: 35px

  +media(s)
    margin-bottom: 15px

.card-title
  min-height: 56px
  margin-bottom: 18px
  font-weight: 500
  line-height: 28px
  font-size: 18px
  text-align: center
  color: $highlited-text
  font-family: 'Montserrat', sans-serif

  +media(s)
    min-height: auto
  
.solution-arrow
  display: block