.team
  position: relative
  padding: 100px 0 125px
  background: $team-bg
  z-index: 10

  +media(m, 90px)
    padding: 80px 0

  +media(s, 40px)
    padding: 50px 0

.team-title
  margin-bottom: 15px

.team-separator
  margin-bottom: 55px

  +media(m, 40px)
    margin-bottom: 40px
  
.team-row
  justify-content: center
  +media(m, 90px)
    flex-wrap: wrap
    justify-content: center
  
.team-member
  width: 28%
  margin-right: 8.5%
  text-align: center
  
  +media(m, 90px)
    width: 35%
    margin-right: 10%
    margin-bottom: 40px

  +media(s, 168px)
    width: 45%
    margin-right: 5%
  
  +media(s, 40px)
    width: 100%
    max-width: 350px
    margin-right: 0
    
.team-member:nth-child(even)
    margin-right: 0

  
.team-member-photo
  width: 100px
  height: 100px
  margin-bottom: 35px
  border-radius: 50%

  +media(s, 40px)
    margin-bottom: 15px
  
.team-member-name
  margin-bottom: 6px
  font-weight: 500
  line-height: 28px
  color: $highlited-text
  font-family: 'Montserrat', sans-serif

  +media(s, 40px)
    margin-bottom: 0
  
.team-member-position
  margin-bottom: 15px
  line-height: 28px
  font-size: 16px
  color: $color-secondary
  font-family: 'Montserrat', sans-serif

  +media(s, 40px)
    margin-bottom: 10px

.team-member-description
  margin-bottom: 10px

.read-more-link
  font-size: 16px
  color: #00B3FB
  letter-spacing: 0
  text-align: center
  line-height: 28px

.popup
  background: #fff
  max-width: 100%
  width: 600px
  padding: 35px 25px 25px
  margin: 0 auto
  position: relative 
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25)
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1)

  +media(s, 40px)
    padding: 35px 15px 15px

.popup-title
  font-weight: 600
  margin-bottom: 25px
  font-size: 26px
  font-family: 'Montserrat', sans-serif

  +media(s, 40px)
    font-size: 20px

.achievements-list
  padding-left: 20px
  list-style-type: disc
  
.achievements-list-item
  margin-bottom: 10px
  line-height: 26px
  font-family: 'Montserrat', sans-serif