.subscribe
  position: relative
  padding: 100px 0 95px

  +media(m, 90px)
    padding: 80px 0

  +media(s, 40px)
    padding: 50px 0

.subscribe::after
  content: ''
  position: absolute
  top: -395px
  right: -160px
  width: 598px
  height: 598px
  background: url(../img/subscribe-circle.svg) center no-repeat
  background-size: contain

  +media(s, 40px)
    top: -449px
    right: -260px

.subscribe-title
  margin-bottom: 10px

.subscribe-separator
  margin-bottom: 40px

  +media(s, 168px)
    margin-bottom: 20px

.subscribe-row
  justify-content: space-between

  +media(s, 168px)
    flex-direction: column
    align-items: center
  
.subscribe-text
  max-width: 470px
  line-height: 33px
  font-size: 22px

  +media(s, 168px)
    margin-bottom: 30px
    font-size: 18px
    text-align: center

.subscribe-form
  +media(s, 40px)
    flex-direction: column
    align-items: center
  
.subscribe-form-input
  +placeholder(18px, $placeholder-color)
  width: 370px
  height: 50px
  padding-left: 25px
  font-size: 18px
  color: $placeholder-color
  background: $color-light
  border: 1px solid $input-border
  box-shadow: 0px 12px 40px $shadow
  border-radius: 40px
  line-height: 33px

  +media(m, 90px)
    width: 300px

  +media(s, 40px)
    margin-bottom: 20px

.subscribe-form-btn
  width: 185px
  height: 50px
  margin-left: 15px

  +media(m, 90px)
    width: 160px
