.footer
  padding: 60px 0 33px
  background: #243142

  +media(s, 40px)
    padding: 50px 0

.footer-logo
  margin-bottom: 25px
  
.footer-row
  justify-content: space-between
  align-items: flex-end
  margin-bottom: 90px
  
  +media(s, 40px)
    flex-direction: column
    align-items: center
    margin-bottom: 40px

.column-left
  max-width: 370px

  +media(s, 40px)
    text-align: center
    margin-bottom: 30px

.company-activity
  margin-bottom: 20px

  +media(s, 40px)
    margin-bottom: 13px
  
.company-activity,
.contact-text
  line-height: 33px
  font-size: 21px
  color: $color-secondary

  +media(s, 40px)
    font-size: 18px

.contact-link
  font-weight: 500
  line-height: 28px
  font-size: 18px
  color: $highlited-text

.footer-link
  display: block
  font-weight: 500
  line-height: 36px
  font-size: 14px
  text-align: right
  letter-spacing: 0.933333px
  text-transform: uppercase
  color: $color-secondary
  font-family: 'Montserrat', sans-serif

  +media(s, 40px)
    text-align: center

.copy
  line-height: 28px
  font-size: 14px
  color: #54687e
  font-family: 'Montserrat', sans-serif




