*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

html
  overflow-x: hidden

body
  overflow-x: hidden

p
  line-height: 26px
  font-size: 18px
  
.container
  position: relative
  width: 100%
  max-width: 1230px
  margin: 0 auto
  padding: 0 30px
  z-index: 10
  
  +media(s, 168px)
    padding: 0 15px

.btn
  font-family: 'Montserrat', sans-serif
  border-radius: 27.5px
  font-weight: 700
  line-height: 36px
  letter-spacing: 1px
  text-transform: uppercase
  font-size: 14px
  text-align: center
  cursor: pointer
  
.btn-light
  border: 1px solid $btn-light-border
  color: $btn-light-color

.btn-bright
  +linear-gradient(107.93deg, #4EC3F2 -40.52%, #438AE3 59.48%)
  box-shadow: 0px 22px 34px $btn-shadow
  color: $color-light

.separator
  width: 46px
  height: 2px
  margin: 0
  border: 0
  background: $separator-bg

  +media(s, 40px)
    margin-left: auto
    margin-right: auto
  
.row
  display: flex

.hide
  display: none

.center
  text-align: center
  margin: 0 auto

.bold
  font-weight: 700